<div class="banner" style="background-image: linear-gradient(rgba(2, 26, 58, 0.5), rgba(2, 26, 58, 0.5)), url('https://images.unsplash.com/photo-1551024709-8f23befc6f87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1725&q=80');">
  <div class="container padded">
    <h1 class="text-center">Add an ingredient</h1>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :ingredient, collection: Ingredient.order(:name), prompt: "Pick one from list" %>
        <%= f.input :description %>
        <%= f.submit "Add dose!", class: "btn btn-primary" %>
        <% end %>
        <div class="pad20">
          <%= link_to "Back to cocktail", cocktails_path, class: "btn btn-warning btn-sm" %>
        </div>
      </div>
    </div>
  </div>

